# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments (Virtual Environments)
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
.cache
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors (Optional but recommended)
.vscode/
.idea/
.DS_Store